html, body {
    height: 100%;
    margin: 0;
}

.playerForm {
    width: 640px;
    margin: 0 auto;
}

#player_container {
    width: 640px;
    margin: 0 auto;
    //position: relative;
}

#player_container:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

#player_container:-webkit-full-screen .playing {
    width: 100%;
    height: 100%;
}

#player_container:-webkit-full-screen iframe {
    display: block;
    width: 100%;
    height: 100%;
}

#player_container:-webkit-full-screen #player_control {
    display: none;
}

#player_container:-webkit-full-screen #comment_container {
    width: 100%;
    height: 100%;
}

#player_control {
    position: relative;
    z-index: 10000;
}

#player_control progress {
    width: 100%;
}

#video_thumb {
    display: none;
    position: absolute;
    left: 0;
    width: 640px;
    height: 390px;
}

#video_thumb.blank {
    background: -webkit-linear-gradient(90deg, #1F1C2C 10%, #928DAB 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #1F1C2C 10%, #928DAB 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #1F1C2C 10%, #928DAB 90%); /* IE10 */
    background:      -o-linear-gradient(89deg, #1F1C2C 10%, #928DAB 90%); /* Opera 11.10+ */
    background:         linear-gradient(89deg, #1F1C2C 10%, #928DAB 90%); /* W3C */
        
}

.unstarted #video_thumb, .cued #video_thumb {
    display: block;
}

#player_container:-webkit-full-screen #comment_container {
    width: 100%;
    height: 100%;
}

#comment_container {
    height: 390px;
}
